<%= form_for([@user, @profile], :url => user_profile_path(@profile.id, @profile.user_id), :html => { :multipart => true, :method => "patch" }) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% f.fields_for :user do |u| %>  
    <%= u.label :username %>
    <%= u.text_field :username, { placeholder: "Username"} %> <br>
  <% end %> 


  <%= f.label :firstname %>
  <%= f.text_field :firstname, { placeholder: "First Name"} %> <br>
  <%= f.label :lastname %>
  <%= f.text_field :lastname, { placeholder: "Last Name"} %> <br>
  <%= f.label :email %>
  <%= f.text_field :email, { placeholder: "Email"} %> <br>
  <%= f.file_field :photo %> <br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<p> Profile Picture </p>
<%= image_tag @profile.photo.url(:thumb) %>



