<%= form_for(@user, :html => {:id => 'edit_user', :class => 'edit_user'}) do |f| %>
  <h1>Edit User Details</h1>
  <%= f.label :username %>
  <%= f.text_field :username, { placeholder: "Username"} %> <br>
  <%= f.label :firstname %>
  <%= f.text_field :firstname, { placeholder: "First Name"} %> <br>
  <%= f.label :lastname %>
  <%= f.text_field :lastname, { placeholder: "Last Name"} %> <br>
  <%= f.label :email %>
  <%= f.text_field :email, { placeholder: "E-Mail"} %> <br>
  <%= f.submit :Update %>
<% end %>
