<%= form_for @user do |f| %>
  <h1>Create new user</h1>
  <%= f.label :username %>
  <%= f.text_field :username, { placeholder: "Username"} %> <br>
  <%= f.label :firstname %>
  <%= f.text_field :firstname, { placeholder: "First Name"} %> <br>
  <%= f.label :lastname %>
  <%= f.text_field :lastname, { placeholder: "Last Name"} %> <br>
  <%= f.label :email %>
  <%= f.text_field :email, { placeholder: "E-Mail"} %> <br>
  <%= f.label :password %>
  <%= f.password_field :password, { placeholder: "Password"} %> <br>
  <%= label_tag :password_confirmation, 'Password Confirmation' %>
  <%= password_field_tag :password_confirmation, nil, { placeholder: "Confirm Password"} %> <br>
  <%= f.submit :Create %>
<% end %>
