<%= form_tag(@user) do  %>
  <h1>User Details</h1>
  <%= label_tag :username %>
  <%= text_field_tag :username, value=@user.username %> <br>
  <%= label_tag :firstname %>
  <%= text_field_tag :firstname, value=@user.firstname %> <br>
  <%= label_tag :lastname %>
  <%= text_field_tag :lastname, value=@user.lastname %> <br>
  <%= label_tag :email %>
  <%= text_field_tag :email, value=@user.email %> <br>

  <%= link_to "Delete Account", user_path(@user.id), method: :delete %> <br>
  <%= link_to "Edit Account", edit_user_path(@user.id) %> <br>
<% end %>
