<%= form_for(@user, :html => {:id => 'show_user', :class => 'show_user'}) do |f| %>
  <h1>User Details</h1>
  <%= f.label :username %>
  <%= f.text_field :username, :value => @user.username, :readonly => true %> <br>

  <span id="button1" class="custom_button">
    <%= link_to "Delete Account", user_path(@user.id), method: :delete %> 
  </span>
  <span id="button2" class="custom_button">
    <%= link_to "Edit Account", edit_user_path(@user.id) %>
  </span> 
  <br>
<% end %>



