<article class="post">
   <h3>
    <span class='list-post-title'><%= link_to post.title, post_path(post) %></span>
   </h3>
   <p class='list-post-body'>
     <% if local_assigns.fetch(:truncate_post, false) %>
       <%= truncate post.body, length: 200 %>
     <% else %>
       <%= post.body %>
     <% end %>
   </p>
   <p class='list-post-attribution'>
     Posted by <%= post.user.username %>
     at <%= post.created_at %>

   </p>
</article>
