<%= form_for @post do |f| %>
  <h1>Create new post</h1>
  <%= f.label :title %>
  <%= f.text_field :title, { placeholder: "Title"} %> <br>
  <%= f.label :body, 'Post' %>
  <%= f.text_area :body, { placeholder: "Create a new post"} %> <br>
  <%= f.submit :create %>
<% end %>
