<%= form_for @post do |f| %>
  <h1>Edit post</h1>
  <%= f.label :title %>
  <%= f.text_field :title, { placeholder: "Title"} %> <br>
  <%= f.label :body, 'Post' %>
  <%= f.text_area :body, { placeholder: "Body"} %> <br>
  <%= hidden_field :user_id, value=@post.user_id %> <br>
  <%= f.submit :edit %>
<% end %>
