<%= form_tag(@post) do  %>
  <h1>View post</h1>
  <%= label_tag :title %>
  <%= text_field_tag :title, value=@post.title %> <br>
  <%= label_tag :body, 'Post' %>
  <%= text_area_tag :body, value=@post.body %> <br>

  <%= link_to "Delete Post", post_path(@post.id), method: :delete %> <br>
  <%= link_to "Edit Post", edit_post_path(@post.id) %> <br>
<% end %>
