<h1>Post Detail</h1>

<%= render @post %>

<%= form_for Comment.new do |f| %>
  <div id="comment-body"><%= f.text_area :body %></div>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit :submit %>
<% end %>

<article>
  <% @post.comments.reverse.each do |comment| %>
    <p class='comment-item'>
      <%= comment.body %>
    </p>
    <p class='comment-attribution'>
      Posted by <%= comment.user.username %>
      at <%= comment.created_at %>
     </p>
  <% end %>
</article>

