
<header>
   <div id="outerNav">
     <div id="icon">
     </div>
     <div id="user_options">
       <% if !current_user %>
         <span id="doLogin"> 
           <%= form_tag('/sessions', :html => {:id => 'form-signin', :class => 'form-signin'}) do %>
             <span><%= text_field_tag :username, nil, placeholder: "Username" %></span> 
             <span><%= password_field_tag :password, nil, placeholder: "Password" %></span>
             <%= submit_tag "Log In" %>
           <% end %>
         </span>
         <span id="signup">
           <%= link_to "Sign Up", new_user_path, method: :get %>
         </span>
       <% else %>
          <div id="menu_options">
            <span id="menu_option_1">
              <%= image_tag current_user.profile.photo.url(:sprite) %>
              <%= link_to current_user.username, posts_path %>    
            </span>
            <span id="menu_option_2">
              <%= link_to "Create new post", new_post_path %>   
            </span>
            <span id="menu_option_3">
              <%= link_to "Manage Account", edit_user_profile_path(current_user.id, current_user.profile.id) %>    
            </span>
            <span id="menu_option_4">
              <%= link_to "Home", posts_path %>   
            </span>
          </div>
          <span id="doLogout">
            <%= link_to "Sign Out", '/logout', method: :delete %>
          </span>
       <% end %> 
     </div>
  
  
   <% if flash[:notice] %>
     <div id="flash_msg">
       <%= flash[:notice] %>
     </div>
   <% end %>
   <% if flash[:alert] %>
     <div id="flash_msg">
       <%= flash[:alert] %>
     </div>
   <% end %>
   </div>
</header>

