
<header>
   <div id="outerNav">
   <% if !current_user %>
     <div id="signup">
       <%= link_to "Sign Up", new_user_path, method: :get %>
     </div>
   <% end %>

   <% if current_user %>
     <%= link_to "Sign Out", '/logout', method: :delete %>
   <% else %>
      <div id="doLogin">
        <%= form_tag('/sessions', :html => {:class => 'form-signin'}) do %>
          <span><%= text_field_tag :username, nil, placeholder: "Username" %></span> 
          <span><%= password_field_tag :password, nil, placeholder: "Password" %></span>
          <%= submit_tag "Log In" %>
        <% end %>
      </div>
   <% end %> 


   <% if flash[:alert] %>
     <div style="background:lightyellow">
       <%= flash[:alert] %>
     </div>
   <% end %>
   </div>
</header>
