
<header>
   <div id="outerNav">
   <% if !current_user %>
     <div id="signup">
       <%= link_to "Sign Up", new_user_path, method: :get %>
     </div>
   <% end %>

   <% if current_user %>
     <%= link_to "Sign Out", '/logout', method: :delete %>
   <% else %>
      <div id="doLogin">
        <%= form_for('/sessions', :html => {:class => 'form-signin'}) do |f| %>
          <span><%= f.text_field :username, placeholder: "Username" %></span> 
          <span><%= f.password_field :password, placeholder: "Password" %></span>
          <%= f.submit "Log In" %>
        <% end %>
      </div>
   <% end %> 


   <% if flash[:alert] %>
     <div style="background:lightyellow">
       <%= flash[:alert] %>
     </div>
   <% end %>
   </div>
</header>
